<div class="page-content">

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h2 class=""> {{ companny_name }} </h2>
    </div>
    <div class="col-sm-12 col-md-4">
      <h2 class="text-right"> {{ c_year }} Overview </h2>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center">
      <div class="col-lg-3">
          <div class="card bg-info">
              <div class="card-body">
                  <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="assets/images/icon/income-w.png" alt="Income" /></div>
                      <div class="align-self-center">
                          <h6 class="text-white m-t-10 m-b-0">Loads Dumped</h6>
                          <h2 class="m-t-0 text-white"> {{ l_dumped | number }} </h2></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card bg-success">
              <div class="card-body">
                  <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="assets/images/icon/expense-w.png" alt="Income" /></div>
                      <div class="align-self-center">
                          <h6 class="text-white m-t-10 m-b-0">Dump Fees</h6>
                          <h2 class="m-t-0 text-white">${{ d_fees | number }}</h2></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card bg-primary">
              <div class="card-body">
                  <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="assets/images/icon/assets-w.png" alt="Income" /></div>
                      <div class="align-self-center">
                          <h6 class="text-white m-t-10 m-b-0">Truckers Used</h6>
                          <h2 class="m-t-0 text-white"> {{ t_used | number }} </h2></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row justify-content-center">
    <br>
    <div class="form-group col-sm-12 col-md-6">
      <label for="month">Select Month</label>
      <select class="form-control" name="month" (change) = "get_weeks()" [(ngModel)]="month_mod" >
        <option value="0">Select a Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>


    <div class="form-group col-sm-12 col-md-6">
      <label for="get_weeks">Select Week</label>
      <select class="form-control" name="week" (change) = "get_jobs()" [(ngModel)]="week_mod" >
          <option value="0">Select a Week</option>
        <option *ngFor = "let l_week of week_list" value="{{ l_week.id }}"> {{ l_week.name }} </option>
      </select>
    </div>
  </div>

  <div class="col-sm-12 col-md-12" *ngIf="week_name">
    <br>
    <h3 class="">{{week_name}} Trucking History</h3>
    <hr>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">

        <div class="custom-div-1">
          <h4>Monday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of mon_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Tuesday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of tue_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Wednsday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of wed_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Thursday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of thu_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Friday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of fri_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Saturday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of sat_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

        <div class="custom-div-1">
          <h4>Sunday</h4>
          <ul class="custom-list-1">
            <li *ngFor="let job of sun_jobs">
              <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>
              <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
                {{ job.name }}
              </a>

            </li>
          </ul>
        </div>

      </div>
      <div class="col-sm-12 col-md-12 col-lg-9" *ngIf="j_address">

        <h5 class="text-center">Job Details</h5>
        <hr>

        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="col-sm-12">
              <h6>Job Address</h6>
              <p *ngIf="j_address" class="bg-info custom-lable-1"> {{ j_address }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Job Status</h6>
              <p *ngIf="j_status" class="bg-info custom-lable-1"> {{ j_status }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Job Number</h6>
              <p *ngIf="j_number" class="bg-info custom-lable-1"> {{ j_number }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Date</h6>
              <p *ngIf="j_date" class="bg-info custom-lable-1"> {{ j_date }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Start Time</h6>
              <p *ngIf="s_time" class="bg-info custom-lable-1"> {{ s_time }} </p>
            </label>

            <label class="col-sm-12">
              <h6>End Time</h6>
              <p *ngIf="e_time" class="bg-info custom-lable-1"> {{ e_time }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Dumo Location</h6>
              <p *ngIf="d_location" class="bg-info custom-lable-1"> {{ d_location }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Material</h6>
              <p *ngIf="j_material" class="bg-info custom-lable-1"> {{ j_material }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Hourly Rate</h6>
              <p *ngIf="h_rate" class="bg-info custom-lable-1"> {{ h_rate }} </p>
            </label>

            <label class="col-sm-12">
              <h6>Total Trucking Fees</h6>
              <p *ngIf="t_fees" class="bg-info custom-lable-1"> {{ t_fees }} </p>
            </label>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <h6 class="text-center">Truckers And Truking Details</h6>
              <hr>
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <label class="col-sm-12">
                    <h6>Number Of Loads</h6>
                    <p *ngIf="n_loads" class="bg-info custom-lable-1 text-center"> {{ n_loads }} </p>
                  </label>
                </div>
                <div class="col-sm-12 col-md-4">
                  <label class="col-sm-12">
                    <h6>Number Of Trucks</h6>
                    <p *ngIf="n_trucks" class="bg-info custom-lable-1 text-center"> {{ n_trucks }} </p>
                  </label>
                </div>
                <div class="col-sm-12 col-md-4">
                  <label class="col-sm-12">
                    <h6>Average Loads Per Truck</h6>
                    <p *ngIf="av_ld_truck" class="bg-info custom-lable-1 text-center"> {{ av_ld_truck }} </p>
                  </label>
                </div>
              </div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">

              <br><br>
              <h6 class="text-center">Truckers And Truking Details</h6>
              <hr>
              <table class="table table-sm custom-table-1">
                <tr *ngFor="let trucker of truckers">
                  <td class="bg-info custom-lable-1 text-center" >
                    <a class="custom-link-1" [routerLink]="['/pages/history/trucker',trucker.id]">
                      {{ trucker.name }}
                    </a>
                  </td>
                  <td></td>
                  <td class="bg-info custom-lable-1 text-center"> {{ trucker.turns }} </td>
                </tr>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
