<div class="page-content">

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8">
			<h2 class=""> Current Jobs</h2>
		</div>
		<div class="col-sm-12 col-md-4">
			<h2 class="text-right"> </h2>
		</div>
	</div>
	<hr>

	<ngx-datatable class="material" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [footerHeight]="50" [count]="true"
	 [limit]="10" [rows]="rows">

		<ngx-datatable-column name="index">
			<ng-template ngx-datatable-header-template>
				<span>#</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				{{ row.index }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="job_name">
			<ng-template ngx-datatable-header-template>
				<span>Job Name</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				{{ row.job_name }}

			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="job_number">
			<ng-template ngx-datatable-header-template>
				<span>Job Number</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				{{ row.job_number }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="job_status">
			<ng-template ngx-datatable-header-template>
				<span>Job Status</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				{{ row.job_status }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="date">
			<ng-template ngx-datatable-header-template>
				<span>Date</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				{{ row.date }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="action">
			<ng-template ngx-datatable-header-template>
				<span>Action</span>
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				<a class="cus-btn-1 btn btn-sm btn-primary" [routerLink]="['/pages/trucker/jobs/today/job',row.id]">
					View
				</a>
			</ng-template>
		</ngx-datatable-column>

	</ngx-datatable>

</div>