<div class="page-content">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Edit Dump Fees </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ company_name }}</h2>
        </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <br>
            <h5>Clean Dirt</h5><hr><br>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Truck Type</th>
                        <th>Price Per Load</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pickup</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Single Axel Trailer</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Super Duty</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Two  Axel Trailer</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Stakebed</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Bobtail</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Flatbed</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>10-Wheel</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Roll-off</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Super 10</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Strong Arm</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Semi</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>End Dump</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Truck N Pup</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Truck and Transfer</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Bottom Dump</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            <br>
            <h5>Oversized Charge</h5><hr><br>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Truck Type</th>
                        <th>Price Per Load</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bobtail</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>10-Wheel</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Super 10</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td> End Dump</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Strong Arm</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td>Truck and Transfer</td>
                        <td> <input  type="number" class="form-control" name="" value="0" min="0" step="0.1"  > </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Oversized includes but is not limited to <br>
                            Oversized material 2 foot and larger, reinforced concrete, excessive rebar
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <button type="button" class="btn btn-primary col-sm-12 col-md-4 col-lg-4 pull-right" name="button">Save Current Fees</button>

</div>
