<div class="page-content">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class="">{{ customer_name }}</h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ company_name }} </h2>
        </div>
    </div>
    <hr>

    <div class="row ">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <ul class="custom-list-1">
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(1,6)" >Account Information</a></li>
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(2,6)" >Dump Activity </a></li>
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(3,6)" >Activate Hold On Account</a></li>
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(4,6)" >Remove Hold Account</a></li>
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(5,6)" >Reset Password</a></li>
                <li><a class="btn btn-success waves-effect waves-light text-white col-sm-12" (click)="show_tab(6,6)" >Delete Customer</a></li>
            </ul>


        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="c_tab_panel" id="tab_1" >
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="company_name">Customer Name</label>
                        <div class="col-xs-12">
                            <input type="text" name="company_name" class="form-control" required=""  placeholder="" [(ngModel)]="customerName" >
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="email_1">Email Address</label>
                        <div class="col-xs-12">
                            <input type="text" name="email_1" class="form-control" required=""  placeholder="" [(ngModel)]="email" >
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="phone">Phone Number</label>
                        <div class="col-xs-12">
                            <input type="text" name="phone" class="form-control" required=""  placeholder="" [(ngModel)]="phone" >
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="ssn">SSN/EIN</label>
                        <div class="col-xs-12">
                            <input type="text" name="ssn" class="form-control" required=""  placeholder="" [(ngModel)]="ssnEin" >
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="street">Street Address</label>
                        <div class="col-xs-12">
                            <input type="text" name="street" class="form-control" required=""  placeholder="" [(ngModel)]="streetAddress" >
                        </div>
                    </div>
                    
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="city">City</label>
                        <div class="col-xs-12">
                            <input type="text" name="city" class="form-control" required=""  placeholder="" [(ngModel)]="city" >
                        </div>
                    </div>
                    
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="state">State</label>
                        <div class="col-xs-12">
                            <input type="text" name="state" class="form-control" required=""  placeholder="" [(ngModel)]="state" >
                        </div>
                    </div>
                    <!-- <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <div class="">
                            <div class="row">
                                <label for="" class="col-sm-12 col-md-6 col-lg-6">Send Welcome Email</label>
                                <div class="form-check col-sm-6 col-md-3 col-lg-3">
                                    <label class="custom-control custom-radio">
                                        <input id="radio1" name="send_email" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Yes</span>
                                    </label>
                                </div>
                                <div class="form-check col-sm-6 col-md-3 col-lg-3">
                                    <label class="custom-control custom-radio">
                                        <input id="radio2" name="send_email" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">No</span>
                                    </label>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="">
                            <div class="row">
                                <label for="" class="col-sm-12 col-md-6 col-lg-6">Send Temp Password</label>
                                <div class="form-check col-sm-6 col-md-3 col-lg-3">
                                    <label class="custom-control custom-radio">
                                        <input id="radio3" name="send_password" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Yes</span>
                                    </label>
                                </div>
                                <div class="form-check col-sm-6 col-md-3 col-lg-3">
                                    <label class="custom-control custom-radio">
                                        <input id="radio4" name="send_password" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">No</span>
                                    </label>
                                </div>
                            </div>
                        </div> -->

                    <!-- </div> -->
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <label for="zip">Zip</label>
                        <div class="col-xs-12">
                            <input type="text" name="zip" class="form-control" required=""  placeholder="" [(ngModel)]="zipcode" >
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <button type="button" name="button" class="btn btn-primary col-sm-12 col-md-12 col-lg-12" [routerLink]="['/pages/customers/current']">Save Customer</button>
                    </div>

                </div>

            </div>
            <div class="c_tab_panel" id="tab_2" >
                <br>
                <h5>Last Thirty Days</h5><hr>
                <div class="">
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <h5>Complete History</h5><hr>
                <div class="">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="c_tab_panel" id="tab_3" >
                <br>
                <h5>Put Account Into Temparary Hold Status</h5><hr>
                <div class="form-check col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                </div>
            </div>
            <div class="c_tab_panel" id="tab_4" >
                <br>
                <h5>Put Account Into Active Status</h5><hr>
                <div class="form-check col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                </div>
            </div>
            <div class="c_tab_panel" id="tab_5" >
                <br>
                <h5>Reset Password</h5><hr>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="company_name">Current Password</label>
                    <div class="col-xs-12">
                        <input type="password" name="company_name" class="form-control" required=""  placeholder=""  >
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="company_name">New Password</label>
                    <div class="col-xs-12">
                        <input type="password" name="company_name" class="form-control" required=""  placeholder=""  >
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="company_name">Confirm Password</label>
                    <div class="col-xs-12">
                        <input type="password" name="company_name" class="form-control" required=""  placeholder=""  >
                    </div>
                </div>
            </div>
            <div class="c_tab_panel" id="tab_6">
                <br>
                <h5>Delete Customer</h5><hr>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="company_name">Are You Sure?</label><br>
                    <button type="button" class="btn btn-danger col-sm-12 col-md-8 col-lg-8" name="button"> Yes Delete This</button>
                </div>
            </div>
        </div>
    </div>
</div>
