<div class="page-content">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Create New Customer </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ company_name }} </h2>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="company_name">Customer Name</label>
            <div class="col-xs-12">
                <input type="text" name="company_name" class="form-control" required=""  placeholder="" [(ngModel)]="customerName" >
            </div>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="email_1">Email Address</label>
            <div class="col-xs-12">
                <input type="text" name="email_1" class="form-control" required=""  placeholder="" [(ngModel)]="email" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="phone">Phone Number</label>
            <div class="col-xs-12">
                <input type="text" name="phone" class="form-control" required=""  placeholder="" [(ngModel)]="phone" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="ssn">Password</label>
            <div class="col-xs-12">
                <input type="password" name="pass" class="form-control" required=""  placeholder="" [(ngModel)]="password" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="street">Street</label>
            <div class="col-xs-12">
                <input type="text" name="street" class="form-control" required=""  placeholder="" [(ngModel)]="street" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="street">Street Address</label>
            <div class="col-xs-12">
                <input type="text" name="street" class="form-control" required=""  placeholder="" [(ngModel)]="streetAddress" >
            </div>
        </div>
        
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="city">City</label>
            <div class="col-xs-12">
                <input type="text" name="city" class="form-control" required=""  placeholder="" [(ngModel)]="city" >
            </div>
        </div>
        
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="state">State</label>
            <div class="col-xs-12">
                <input type="text" name="state" class="form-control" required=""  placeholder="" [(ngModel)]="state" >
            </div>
        </div>
        
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="zip">Zip</label>
            <div class="col-xs-12">
                <input type="text" name="zip" class="form-control" required=""  placeholder="" [(ngModel)]="zipcode" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="ssn">SSN/EIN</label>
            <div class="col-xs-12">
                <input type="text" name="ssn" class="form-control" required=""  placeholder="" [(ngModel)]="ssnEin" >
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <button type="button" name="button" class="btn btn-primary col-sm-12 col-md-12 col-lg-12" (click)="onSaveCustomer()" >Save Customer</button>
        </div>

    </div>

</div>

