<div class="page-content">

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12">
			<h2 class="">{{ company_name }}</h2>
		</div>
	</div>
	<hr>
	<br>

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8 col-lg-8">

			<table class="table">
				<tbody class="bg-light">
					<tr class="bg-info text-white">
						<td colspan="2">Dump Company </td>
					</tr>
					<tr>
						<td>Company Name : </td>
						<td>{{ company_name }} </td>
					</tr>

					<tr>
						<td>Street Address : </td>
						<td>{{ comp_st_add }} </td>
					</tr>
					<tr>
						<td>City : </td>
						<td>{{ comp_city }} </td>
					</tr>
					<tr>
						<td>Country : </td>
						<td>{{ comp_country }} </td>
					</tr>
					<tr>
						<td>ZIP Code : </td>
						<td>{{ comp_zip }} </td>
					</tr>

					<!-- <tr class="bg-info text-white">
						<td colspan="2">Dump Site </td>
					</tr>
					<tr>
						<td>Dump Site Name : </td>
						<td>{{ dump_site_name }} </td>
					</tr>
					<tr>
						<td>Street Address : </td>
						<td>{{ dump_st_add }} </td>
					</tr>
					<tr>
						<td>City : </td>
						<td>{{ dump_city }} </td>
					</tr>
					<tr>
						<td>Country : </td>
						<td>{{ dump_country }} </td>
					</tr>
					<tr>
						<td>ZIP Code : </td>
						<td>{{ dump_zip }} </td>
					</tr>
					<tr>
						<td>Dump Site Phone : </td>
						<td>{{ dump_phone }} </td>
					</tr> -->

					<tr class="bg-info text-white">
						<td colspan="2">User </td>
					</tr>

					<tr>
						<td> Name : </td>
						<td>{{ user_name }} </td>
					</tr>
					<tr>
						<td>Email Address : </td>
						<td>{{ user_email }} </td>
					</tr>
					<tr>
						<td>Phone Number : </td>
						<td>{{ user_phone }} </td>
					</tr>
					<tr>
						<td>Username : </td>
						<td>{{ username }} </td>
					</tr>
				</tbody>
			</table>




		</div>

	</div>

</div>