<div class="page-content">

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8">
			<h2 class=""> Current Employees </h2>
		</div>
		<div class="col-sm-12 col-md-4">
			<h2 class="text-right"> {{ company_name }}</h2>
		</div>
	</div>
	<hr>

	<div class="col-sm-12 col-md-12 col-lg-12">

		<div class="form-group row justify-content-center">
			<label for="" class="col-sm-12 col-md-5 col-lg-5 text-right">Search</label>
			<input type='text' placeholder='Type Customer name..' class="form-control col-sm-12 col-md-5 col-lg-5" (keyup)='updateFilter($event)'>
		</div>


		<ngx-datatable class="material" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [footerHeight]="50" [count]="true"
		 [limit]="10" [rows]="rows">

			<ngx-datatable-column name="index">
				<ng-template ngx-datatable-header-template>
					<span>#</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.index }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="emp_name">
				<ng-template ngx-datatable-header-template>
					<span>Employee Name</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.emp_name }}

				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="emp_phone">
				<ng-template ngx-datatable-header-template>
					<span>Phone Number</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.emp_phone }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="email">
				<ng-template ngx-datatable-header-template>
					<span>Email</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.email }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="status">
				<ng-template ngx-datatable-header-template>
					<span>Status</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<!-- {{ row.status }} -->
					<label class="cus-lbl btn-sm bg-success" *ngIf="row.status == 'APPROVED'">Active</label>
					<label class="cus-lbl btn-sm bg-danger" *ngIf="row.status == 'BLOCKED'">On Hold</label>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="">
				<ng-template ngx-datatable-header-template>
					<span>Action</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<button *ngIf="row.status == 'APPROVED'" class="cus-btn-1 btn btn-sm btn-danger" (click)="onPutHoldCustomer(row.emp_id)">Hold</button>
					<button *ngIf="row.status == 'BLOCKED'" class="cus-btn-1 btn btn-sm btn-success" (click)="onActivateCustomer(row.emp_id)">Activate</button>

				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="">
				<ng-template ngx-datatable-header-template>
					<span>view</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<a class="cus-btn-1 btn btn-sm btn-primary" [routerLink]="['/pages/employees/employee/',row.emp_id]">
						View
					</a>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="">
				<ng-template ngx-datatable-header-template>
					<span>Delete</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">

					<swal #deleteSwal title="Are Sure?" text="This cannot be undone" type="warning" [showCancelButton]="true" [focusCancel]="true"
					 (confirm)="onDeleteCustomer(row.emp_id)">
					</swal>

					<button class="cus-btn-1 btn btn-sm btn-danger" [swal]="deleteSwal">Delete</button>

				</ng-template>
			</ngx-datatable-column>



		</ngx-datatable>

	</div>

</div>