<div class="page-content">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class="">{{ company_name }} JoB Details </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5 class="text-right"> {{ j_address }} </h5>
        </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="col-sm-12">
                <h6>Job Address</h6>
                <p *ngIf="j_address" class="bg-info custom-lable-1"> {{ j_address }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Job Status</h6>
                <p *ngIf="j_status" class="bg-info custom-lable-1"> {{ j_status }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Job Number</h6>
                <p *ngIf="j_number" class="bg-info custom-lable-1"> {{ j_number | number }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Date</h6>
                <p *ngIf="j_date" class="bg-info custom-lable-1"> {{ j_date }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Start Time</h6>
                <p *ngIf="s_time" class="bg-info custom-lable-1"> {{ s_time }} </p>
            </label>

            <label class="col-sm-12">
                <h6>End Time</h6>
                <p *ngIf="e_time" class="bg-info custom-lable-1"> {{ e_time }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Dump Location</h6>
                <p *ngIf="d_location" class="bg-info custom-lable-1"> {{ d_location }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Material</h6>
                <p *ngIf="j_material" class="bg-info custom-lable-1"> {{ j_material }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Price Per Load</h6>
                <!-- <p *ngIf="p_load" class="bg-info custom-lable-1"> {{ p_load }} </p> -->
                <input type="text" name="" value="" class="form-control">
            </label>
            <label class="col-sm-12">
                <h6>Current Price</h6>
                <p *ngIf="c_price" class="bg-info custom-lable-1"> {{ c_price }} </p>
            </label>

            <label class="col-sm-12">
                <h6>Total</h6>
                <p *ngIf="t_fees" class="bg-info custom-lable-1"> {{ t_fees }} </p>
            </label>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h6 class="text-center">Truckers And Truking Details</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label class="col-sm-12">
                            <h6>Number Of Loads</h6>
                            <p *ngIf="n_loads" class="bg-info custom-lable-1 text-center"> {{ n_loads }} </p>
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label class="col-sm-12">
                            <h6>Number Of Trucks</h6>
                            <p *ngIf="n_trucks" class="bg-info custom-lable-1 text-center"> {{ n_trucks }} </p>
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label class="col-sm-12">
                            <h6>Average Loads Per Truck</h6>
                            <p *ngIf="av_ld_truck" class="bg-info custom-lable-1 text-center"> {{ av_ld_truck }} </p>
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">

                <br><br>
                <h6 class="text-center">Truckers And Truking Details</h6>
                <hr>
                <table class="table table-sm custom-table-1">
                    <tr *ngFor="let trucker of truckers">
                        <td class="text-center" >
                            <div class="col-md-12 bg-info custom-lable-1">
                                {{ trucker.name }}
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-md-4 col-lg-4 text-center" *ngFor="let time of trucker.times">
                                    <p>{{ time }}</p>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td class="text-center">
                            <div class="bg-info custom-lable-1 ">
                                {{ trucker.turns }} 
                            </div>
                         </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>
