<div class="page-content">

    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <h2 class=""> 2017</h2>
      </div>
      <div class="col-sm-12 col-md-4">
        <h2 class="text-right"> {{ company_name }}</h2>
      </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/projects/past/month','January']">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">January</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jan | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">February</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_feb | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">March</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_mar | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">April</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_apr | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">May</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_may | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">June</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jun | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">July</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jul | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">August</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_aug | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">September</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_sep | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">October</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_oct | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">November</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_nov | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">December</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_dec | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <br>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-3" *ngFor="let year of year_list">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/projects/past/year','2017']">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">{{ year.name }}</h6>
                            <h2 class="m-t-0 text-white"> {{ year.count | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
