<div class="page-content">

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8">
			<h2 class=""> Create Material Fees </h2>
		</div>
		<div class="col-sm-12 col-md-4">
			<h2 class="text-right"> {{ company_name }} </h2>
		</div>
	</div>
	<hr>

	<div class="col-sm-12 col-md-6 col-lg-6">
		<div class="form-group">
			<label for="">Materials</label>
			<select name="" id="" class="form-control custom-select col-sm-12 col-md-5 col-lg-5" [(ngModel)]="materialType" (change)="onChangeMaterials()" >
				<option value="0">Select a Material</option>
				<option *ngFor="let material of materials_list" value="{{material.id}}"> {{ material.type}} </option>
			</select>
		</div>
	</div>

	<div class="col-sm-12 col-md-12 col-lg-12">

		<div class="row">
			<div class="form-group col-sm-12 col-md-6 col-lg-6 row" *ngFor="let truck of truck_types_list">
                <label for="" class="col-sm-12 col-md-6 col-lg-6 text-right"> {{ truck.type }} : </label>
                <input type="number" class="form-control col-sm-12 col-md-6 col-lg-6" name="" value="0" min="0" step="0.1" id="inputFee_{{ truck.id }}">
            </div>
		</div>

	</div>

	<div class="col-sm-12 col-md-6 col-lg-6 pull-right">
		<button class="btn btn-primary col-sm-12 col-md-12 col-lg-8" (click)="onSaving()">Save Material Fees</button>
	</div>


</div>