<div class="page-content">

    <h3 class="">Upcoming Projects</h3>
    <hr>

    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Monday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_mon | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Tuesday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_tue | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Wednesday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_wed | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Thursday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_thur | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Friday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_fri | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Saturday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_sat | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_proj_week()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">Sunday</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_sun | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <br>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">January</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jan | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">February</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_feb | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">March</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_mar | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">April</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_apr | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">May</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_may | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">June</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jun | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">July</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_jul | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">August</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_aug | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">September</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_sep | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">October</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_oct | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">November</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_nov | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="waves-effect waves-light text-white col-sm-12" (click)="get_projects()">
                        <div class="align-self-center text-center">
                            <h6 class="text-white m-t-10 m-b-0">December</h6>
                            <h2 class="m-t-0 text-white"> {{ proj_dec | number }} </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
