<div class="page-content">

	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8">
			<h2 class=""> Upcoming Projects</h2>
		</div>
		<div class="col-sm-12 col-md-4">
			<h2 class="text-right"> {{ company_name }}</h2>
		</div>
	</div>
	<hr>

	<div class="col-sm-12 col-md-12 col-lg-12">

		<!-- search project -->
		<div>

			<div class="row justify-content-start">
				<div class="form-group col-sm-12 col-md-6 col-lg-6">
					<select name="filter" id="" [(ngModel)]="selectFilter" class="form-control custom-select col-sm-12 col-md-5 col-lg-5" (change)="onFilterProjects()">
						<option value="0">Select a Search Option</option>
						<option value="1">Search Next 7 Days</option>
						<option value="2">Search by Month (This Year) </option>

					</select>
				</div>

				<div class="form-group col-sm-12 col-md-6 col-lg-6">
					<select *ngIf="searchByMonth" name="s_month" id="" [(ngModel)]="searchInputMonth" class="form-control custom-select col-sm-12 col-md-5 col-lg-5"
					 (change)="filterProjects()">
						<option value="0">Select a Month</option>
						<option value="jan">January</option>
						<option value="feb">February</option>
						<option value="mar">March</option>
						<option value="apr">April</option>
						<option value="may">May</option>
						<option value="jun">June</option>
						<option value="jul">July</option>
						<option value="aug">August</option>
						<option value="sep">September</option>
						<option value="oct">October</option>
						<option value="nov">November</option>
						<option value="dec">December</option>

					</select>
				</div>

			</div>
			<br>
		</div>



		<ngx-datatable class="material" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [footerHeight]="50" [count]="true"
		 [limit]="10" [rows]="rows">

			<ngx-datatable-column name="index">
				<ng-template ngx-datatable-header-template>
					<span>#</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.index }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="job_name">
				<ng-template ngx-datatable-header-template>
					<span>Job Name</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.job_name }}

				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="job_number">
				<ng-template ngx-datatable-header-template>
					<span>Job Number</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.job_number }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="job_status">
				<ng-template ngx-datatable-header-template>
					<span>Job Status</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.job_status }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="date">
				<ng-template ngx-datatable-header-template>
					<span>Date</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					{{ row.date }}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="action">
				<ng-template ngx-datatable-header-template>
					<span>Action</span>
				</ng-template>
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<a class="cus-btn-1 btn btn-sm btn-primary" [routerLink]="['/pages/trucker/jobs/upcoming/job',row.id]">
						View
					</a>
				</ng-template>
			</ngx-datatable-column>

		</ngx-datatable>
	</div>

</div>