/* You can add global styles to this file, and also import other style files */
/* datatables */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* perfect scroll */ 
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
/* @import '~/fullcalendar/dist/fullcalendar.css'; */

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

/* | content container | */
.page-content {
  width: auto;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 60px;
}

/* | Styling divs | */
.custom-div-1 {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.c_tab_panel {
    display: none;
}

.calendar_cont {
    width: 95%;
    height: 80vh;
}

/* | Styles for sign up container | */
.sign-up-container{
  width: auto;
  height: 80Vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.dump-comp {
  padding: 20px 10px;
  border-radius: 8px;
  border: 4px solid white;
  background-color: rgb(248, 248, 248);
}

.acc-thumbnail{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin: 28px;
  padding-top: 40px;
}

/* | custom form style | */
.custom-form-1{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* | overide label | */
label {
  margin-top: 2px;
  margin-bottom: 4px;
}

/* | custom lable | */
.custom-lable-1 {
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin: 2px;
  color: white;
  border-radius: 4px;
}

.cus-lbl {
  width: 100%;
  text-align: center;
  color: white;
}

.event-lbl-cus {
  width: 70px;
  height: 70px;
}

.cus-btn-1 {
  width: 100%;
}


/* | Remove Styles from list | */
ul.custom-list-1{
  list-style-type: none;
  margin: 1px;
  padding-left: 5px;
}

ul.custom-list-1 a {
  margin: 2px;
}

.custom-table-1 {
  border: 0;
}

.custom-link-1 {
  cursor: pointer;
  color: white;
  min-width: 80%;
}

tr.custom-table-1 td {
  width: 50%;
  cursor: pointer;
}
