<div class="page-content">

  <h3 class="">This Week Trucking History</h3>
  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">

      <div class="custom-div-1">
        <h4>Monday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of mon_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Tuesday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of tue_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Wednsday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of wed_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Thursday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of thu_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Friday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of fri_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Saturday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of sat_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

      <div class="custom-div-1">
        <h4>Sunday</h4>
        <ul class="custom-list-1">
          <li *ngFor="let job of sun_jobs">
            <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>
            <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" (click)="get_details(job.id)">
              {{ job.name }}
            </a>

          </li>
        </ul>
      </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-9"  *ngIf="j_address">

      <h5 class="text-center">Job Details</h5>
      <hr>

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-3">
          <label class="col-sm-12">
            <h6>Job Address</h6>
            <p *ngIf="j_address" class="bg-info custom-lable-1"> {{ j_address }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Job Status</h6>
            <p *ngIf="j_status" class="bg-info custom-lable-1"> {{ j_status }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Job Number</h6>
            <p *ngIf="j_number" class="bg-info custom-lable-1"> {{ j_number | number }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Date</h6>
            <p *ngIf="j_date" class="bg-info custom-lable-1"> {{ j_date }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Start Time</h6>
            <p *ngIf="s_time" class="bg-info custom-lable-1"> {{ s_time }} </p>
          </label>

          <label class="col-sm-12">
            <h6>End Time</h6>
            <p *ngIf="e_time" class="bg-info custom-lable-1"> {{ e_time }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Dumo Location</h6>
            <p *ngIf="d_location" class="bg-info custom-lable-1"> {{ d_location }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Material</h6>
            <p *ngIf="j_material" class="bg-info custom-lable-1"> {{ j_material }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Hourly Rate</h6>
            <p *ngIf="h_rate" class="bg-info custom-lable-1"> {{ h_rate }} </p>
          </label>

          <label class="col-sm-12">
            <h6>Total Trucking Fees</h6>
            <p *ngIf="t_fees" class="bg-info custom-lable-1"> {{ t_fees }} </p>
          </label>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-9">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h6 class="text-center">Truckers And Truking Details</h6>
            <hr>
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <label class="col-sm-12">
                  <h6>Number Of Loads</h6>
                  <p *ngIf="n_loads" class="bg-info custom-lable-1 text-center"> {{ n_loads }} </p>
                </label>
              </div>
              <div class="col-sm-12 col-md-4">
                <label class="col-sm-12">
                  <h6>Number Of Trucks</h6>
                  <p *ngIf="n_trucks" class="bg-info custom-lable-1 text-center"> {{ n_trucks }} </p>
                </label>
              </div>
              <div class="col-sm-12 col-md-4">
                <label class="col-sm-12">
                  <h6>Average Loads Per Truck</h6>
                  <p *ngIf="av_ld_truck" class="bg-info custom-lable-1 text-center"> {{ av_ld_truck }} </p>
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-12">

            <br><br>
            <h6 class="text-center">Truckers And Truking Details</h6>
            <hr>
            <table class="table table-sm custom-table-1">
              <tr *ngFor="let trucker of truckers">
                <td class="bg-info custom-lable-1 text-center" >
                  <a class="custom-link-1" [routerLink]="['/pages/history/trucker',trucker.id]">
                    {{ trucker.name }}
                  </a>
                </td>
                <td></td>
                <td class="bg-info custom-lable-1 text-center"> {{ trucker.turns }} </td>
              </tr>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
