<div class="page-content">

    <h3 class="">This Week Trucking History</h3>
    <hr>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Monday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of mon_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12">
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Tuesday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of tue_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12">
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Wednsday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of wed_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" >
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Thursday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of thu_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" >
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Friday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of fri_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" >
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Saturday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of sat_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" >
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="custom-div-1">
                <h4 class="text-center">Sunday</h4>
                <ul class="custom-list-1">
                    <li *ngFor="let job of sun_jobs">
                        <a *ngIf="job.id > 0" class="btn btn-success aves-effect waves-light text-white col-sm-12" [routerLink]="['/pages/history/th-week/job',job.id]">
                            {{ job.name }}
                        </a>
                        <a *ngIf="job.id == 0" class="btn btn-info text-white col-sm-12" >
                            {{ job.name }}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
