<div class="login-register" style="background-image:url(assets/images/background/trucker_login.jpg);">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-6 col-lg-6 card">
			<br>
			<br>
			<h2 class="text-center">TRUCKER</h2>
			<!-- <hr> -->
			<br>

			<h5 class="text-center">What Would You Like to Do?</h5>
			<br>

			<div class="row justify-content-center m-b-20 p-b-20">
				<div class="col-md-3 col-lg-3 text-center">
					<a [routerLink]="['/sign-up/trucker']">
						<div class="acc-thumbnail bg-primary"></div>
						Create a Trucker Account
					</a>
				</div>
				<div class="col-md-3 col-lg-3 text-center">
						<a [routerLink]="['/sign-up/loader']">
						<div class="acc-thumbnail bg-primary"></div>
						Create a Loader Account
					</a>
				</div>
				<div class="col-md-3 col-lg-3 text-center">
						<a [routerLink]="['/sign-up/dump-site']">
						<div class="acc-thumbnail bg-primary"></div>
						Create a Dump Site Account
					</a>
				</div>
				
			</div>

		</div>
	</div>
</div>